{% extends "layout-static.html" %}

{% block main %}
<div class="centred-content">
    <div class="section-header">
        <h2 class="title">Help and FAQ</h2>
        <p class="description">Find answers to some commonly asked questions.</p>
    </div>

    <div class="help-grid">
        <article class="help-card">
            <div class="help-title">How do I input my preferences?</div>
            <div class="help-content">Go to the 'map' page and use the form on the left side of the screen. Once you have entered all of your preferences, click the submit button to get your recommendation.</div>
        </article>
        <article class="help-card">
            <div class="help-title">What data is used?</div>
            <div class="help-content">Check out the 'data' page where we explain our sources in detail!</div>
        </article>
        <article class="help-card">
            <div class="help-title">How do you handle my data?</div>
            <div class="help-content">Our Privacy Policy details precisely how we handle user data. In short, no personal data is saved on our server; you data is only saved locally on your browser using Cookies.</div>
        </article>
    </div>
</div>
{% endblock %}