<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            UniNest - {{ title }}  
        {% else %}
            UniNest
        {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/Brand-Logo-Icon+FullColour.svg') }}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% block head %}{% endblock %}
</head>

<body>

    <header class="header {% block header_class %}{% endblock %}" id="header">
        <div id="header-content">
            <div class="brand" id="brand">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='imgs/Brand-Logo-Inline+FullColour.svg') }}" alt=""></a>
            </div>
            <nav class="nav" id="header-nav">
                <a class="nav-link" href="{{ url_for('map') }}">Map</a>
                <a class="nav-link" href="{{ url_for('data') }}">Data</a>
                <a class="nav-link" href="{{ url_for('news') }}">News</a>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>